<h3>Booking Details:</h3>
<p>Hi Sahulat Team member,</p>
<p>Here is the new booking from web. Details are:</p>

<p><strong>Name:</strong> <%= @booking.name %></p>
<p><strong>Phone Number:</strong> <%= @booking.phone %></p>
<p><strong>Service Required:</strong> <%= @booking.service %></p>
<p><strong>Address:</strong> <%= @booking.address %></p>

<p>Please contact with client.</p>

