<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<main>
    <section class="hero-sec-class _3fmpyDZmwgiERVmBiqJI2y _5i54RgeUqKBg-1WgZgW2Q" style="background-blend-mode: multiply;">
        <img src="uploads/contact-cover.jpg" class="hero-image-slider" style="filter: none;"/>

    </section>
    <div class="four_div"></div>
    <div class="btn btn-primary btn-next-cat" onclick="elec_cat()">
        <div class="continue-next-cat-quantity pull-left" id="quantity_next_cat"></div>
        <div class="continue-next-cat-price pull-left" id="price_next_cat"></div>
        <div class="continue-next-cat-button pull-left">Continue &nbsp;&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
    </div>


</main>

<section class="mb-0"style="background:#f4f4f4; padding:50px 0px;"> 
    <div class="container" style="text-align:center;">
        <div class="row" style="text-align:center;">
            <div class="col-12 col-md-12" style="text-align:center;">
                <h2>Get in touch with Us:</h2>
				<p style="font-size: larger;">You can contact us on our email: </p>
				<p style="font-size: larger;"><strong>sahulatmep@gmail.com</strong></p>
            </div>
        </div>
    </div>
</section>



<!------------------------------------------------------FIRST FOOTER START------------------------------------------------>
<!-- Footer -->
<footer class="page-footer font-small indigo mt-0">
    <div class="container display-Ejoyy">
        <div class="row">
            <div class="col-lg-12 mx-auto Footer_Ejoyy">
                <ul class="Ejoyy-ul">
                    <li>
                        <div class="Ejoyy-ul-div-one">
                            <span class="Ejoyy-ul-div-one-span">
                                <div class="Ejoyy-ul-div-two">
                                    <div class="Ejoyy-ul-heading-main">
                                        <h5 class="Ejoyy-ul-heading-one">Sahulat</h5>
                                    </div>
                                </div>
                            </span>
                            <span class="Ejoyy-ul-div-one-last-span-one Ejoyy-color" onClick="toggleAngleBtnfooterone()" data-toggle="collapse" data-target="#collapseExamplefooterone" aria-expanded="false" aria-controls="collapseExamplefooterone"><i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="collapse" id="collapseExamplefooterone">
                            <ul class="about_footer">
                                <li class="Ejoyy-ul-div-two-div-li about_footer" style="list-style:none!important">
                                    <p href="#!">Sahulat is the leading platform for connecting individuals looking for household services with top-quality, independent service professionals.</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>  
            </div>
            <div class="col-lg-12 mx-auto Footer_Ejoyy">
                <ul class="Ejoyy-ul">
                    <li>
                        <div class="Ejoyy-ul-div-one">
                            <span class="Ejoyy-ul-div-one-span">
                                <div class="Ejoyy-ul-div-two">
                                    <div class="Ejoyy-ul-heading-main">
                                        <h5 class="Ejoyy-ul-heading-one">SERVICES</h5>
                                    </div>
                                </div>
                            </span>
                            <span class="Ejoyy-ul-div-one-last-span-two Ejoyy-color" onClick="toggleAngleBtnfootertwo()" data-toggle="collapse" data-target="#collapseExamplefootertwo" aria-expanded="false" aria-controls="collapseExamplefootertwo"><i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="collapse" id="collapseExamplefootertwo">
                            <ul class="">
                                <li class="Ejoyy-ul-div-two-div-li">
                                    <a href="/booking">Plumber</a>
                                </li>
                                <li class="Ejoyy-ul-div-two-div-li">
                                    <a href="/booking">Electrician</a>
                                </li>
                                <li class="Ejoyy-ul-div-two-div-li">
                                    <a href="/booking">Home Cleaning</a>
                                </li>
                                <li class="Ejoyy-ul-div-two-div-li">
                                    <a href="/booking">AC Repair & Service</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                </ul>  
            </div>
            <div class="col-lg-12 mx-auto Footer_Ejoyy">
                <ul class="Ejoyy-ul">
                    <li>
                        <div class="Ejoyy-ul-div-one">
                            <span class="Ejoyy-ul-div-one-span">
                                <div class="Ejoyy-ul-div-two">
                                    <div class="Ejoyy-ul-heading-main">
                                        <h5 class="Ejoyy-ul-heading-one">OUR COMPANY</h5>
                                    </div>
                                </div>
                            </span>
                            <span class="Ejoyy-ul-div-one-last-span-three Ejoyy-color" onClick="toggleAngleBtnfooterthree()" data-toggle="collapse" data-target="#collapseExamplefooterthree" aria-expanded="false" aria-controls="collapseExamplefooterthree"><i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="collapse" id="collapseExamplefooterthree">
                            <ul class="">
                                <li class="Ejoyy-ul-div-two-div-li">
                                    <a href="/about" > About Us</a>
                                </li>
                                <li class="Ejoyy-ul-div-two-div-li">
                                    <a href="/contact" > Contact Us</a>
                                </li>
                                <li class="Ejoyy-ul-div-two-div-li">
                                    <a href="#" > Privacy Policy</a>
                                </li>
                                <li class="Ejoyy-ul-div-two-div-li">
                                    <a href="#" > Terms & Conditions</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                </ul>  
            </div>

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left display-Footer">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3" style="margin-left:10px;margin-top:30px;">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:white">Sahulat</h5>

                <ul class="list-unstyled">
                    <li class="footer_links_hover">
                        <p href="#!">Sahulat is the leading platform for connecting individuals looking for household services with top-quality, independent service professionals.</p>
                    </li>
                </ul style="margin-bottom:30px;">

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto" style="margin-top:30px;">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:white">Services</h5>

                <ul class="list-unstyled">
                    <li class="footer_links_hover">
                        <a href="/booking"> Electrician</a>
                    </li>
                    <li class="footer_links_hover">
                        <a href="/booking"> Plumber</a>
                    </li>
                    <li class="footer_links_hover">
                        <a href="/booking"> Carpenters</a>
                    </li>
                    <li class="footer_links_hover">
                        <a href="/booking"> AC Repairing</a>
                    </li>
                </ul style="margin-bottom:30px;">

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto" style="margin-top:30px;">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:white">Our Company</h5>

                <ul class="list-unstyled">
                    <li class="footer_links_hover">
                        <a href="/about" > About Us</a>
                    </li>
                    <li class="footer_links_hover">
                        <a href="/contact"> Contact</a>
                    </li>
                    <li class="footer_links_hover">
                        <a href="#" > Privacy Policy</a>
                    </li>
                    <li class="footer_links_hover">
                        <a href="#"> Terms & Conditions</a>
                    </li>
                </ul style="margin-bottom:30px;">

            </div>


        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <div class="fourth_foot">
        <div class="inner_main_fourth_foot container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="inner_inner_fourth_foot mt-3">
                        <a class="inner_inner_fourth_foot_anchor_main">
                            <div class="inner_inner_fourth_foot_anchor_main_div_one inner_inner_fourth_foot_anchor_main_div_two">
                                <img src="photos/images/lazy.gif" style="width:40px; height:40px" class="fourth_foot_image_one_first fourth_foot_image_one_second fourth_foot_image_one_third">
                                <img   src="photos/images/favicon.png" style="width:40px; height:40px" class="fourth_foot_image_one_second">
                            </div>
                            <span class="footerLabelSpan" itemprop="name">Sahulat</span>  
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="inner_inner_fourth_foot_content" style="text-align:left;">© 2019-20 Sahulat. All Rights Reserved</div>
                </div>
                <style>
                    .social_icons a{
                        padding-right:20px;
                        text-decoration:none;
                        color:#bababa;
                        transition:all ease-in-out 0.3s;
                    }
                    .social_icons a:hover{
                        padding-right:20px;
                        text-decoration:none;
                        color:#fff;

                    }
                </style>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="social_icons inner_inner_fourth_foot_content" style="text-align:left;">
                        <a href="https://www.facebook.com/sahulatMEPServices" target="_blank" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a> 
                        <a href="https://www.youtube.com/" target="_blank" class="fa fa-youtube"></a> 
                        <a href="#" target="_blank" class="fa fa-instagram"></a> 
                        <a href="#" target="_blank" class="fa fa-google-plus"></a></div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--------------------------------------------------FOURTH FOOTER END---------------------------------------------------->

</footer>

<!-- Login Signup Modal Window here -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">



    </div>
</div>
<style>


    body{
        margin: 0;
        font-size: .9rem;
        font-weight: 400;
        line-height: 1.6;
        color: #212529;
        text-align: left;
        background-color: #f5f8fa;
    }

    .navbar-laravel
    {
        box-shadow: 0 2px 4px rgba(0,0,0,.04);
    }

    .navbar-brand , .nav-link, .my-form, .login-form
    {
        font-family: Raleway, sans-serif;
    }

    .my-form
    {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .my-form .row
    {
        margin-left: 0;
        margin-right: 0;
    }

    .login-form
    {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .login-form .row
    {
        margin-left: 0;
        margin-right: 0;
    }
</style>

<!--07April-->
<script type="text/javascript">
    function GetUnique(e){var l = [], s = temp_c = [], t = ["col-md-1", "col-md-2", "col-md-3", "col-md-4", "col-md-6", "col-md-12", "col-sm-1", "col-sm-2", "col-sm-3", "col-sm-4", "col-sm-6", "col-sm-12", "col-lg-1", "col-lg-2", "col-lg-3", "col-lg-4", "col-lg-6", "col-lg-12", "col-xs-1", "col-xs-2", "col-xs-3", "col-xs-4", "col-xs-6", "col-xs-12", "col-xl-1", "col-xl-2", "col-xl-3", "col-xl-4", "col-xl-6", "col-xl-12"]; $(e).each(function(){for (var l = $(e + " > div").attr("class").split(/\s+/), t = 0; t < l.length; t++)s.push(l[t])}); for (var c = 0; c < s.length; c++)temp_c = s[c].split("-"), 2 == temp_c.length && (temp_c.push(""), temp_c[2] = temp_c[1], temp_c[1] = "xs", s[c] = temp_c.join("-")), - 1 == $.inArray(s[c], l) && $.inArray(s[c], t) && l.push(s[c]); return l}function setcss(e, l, s){for (var t = ["", "", "", "", "", ""], c = d = f = g = 0, r = [1200, 992, 768, 567, 0], a = "", o = [], a = 0; a < e.length; a++){var i = e[a].split("-"); if (3 == i.length){switch (i[1]){case"xl":d = 0; break; case"lg":d = 1; break; case"md":d = 2; break; case"sm":d = 3; break; case"xs":d = 4}t[d] = i[2]}}for (var n = 0; n < t.length; n++)if ("" != t[n]){if (0 == c && (c = 12 / t[n]), f = 12 / t[n], g = 100 / f, a = s + " > .carousel-item.active.carousel-item-right," + s + " > .carousel-item.carousel-item-next {-webkit-transform: translate3d(" + g + "%, 0, 0);transform: translate3d(" + g + ", 0, 0);left: 0;}" + s + " > .carousel-item.active.carousel-item-left," + s + " > .carousel-item.carousel-item-prev {-webkit-transform: translate3d(-" + g + "%, 0, 0);transform: translate3d(-" + g + "%, 0, 0);left: 0;}" + s + " > .carousel-item.carousel-item-left, " + s + " > .carousel-item.carousel-item-prev.carousel-item-right, " + s + " > .carousel-item.active {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);left: 0;}", f > 1){for (k = 0; k < f - 1; k++)o.push(l + " .cloneditem-" + k); o.length && (a = a + o.join(",") + "{display: block;}"), o = []}0 != r[n] && (a = "@media all and (min-width: " + r[n] + "px) and (transform-3d), all and (min-width:" + r[n] + "px) and (-webkit-transform-3d) {" + a + "}"), $("#slider-css").prepend(a)}$(l).each(function(){for (var e = $(this), l = 0; l < c - 1; l++)(e = e.next()).length || (e = $(this).siblings(":first")), e.children(":first-child").clone().addClass("cloneditem-" + l).appendTo($(this))})}

//Use Different Slider IDs for multiple slider
    $(document).ready(function() {
    var item = '#slider-1 .carousel-item';
    var item_inner = "#slider-1 .carousel-inner";
    classes = GetUnique(item);
    setcss(classes, item, item_inner);
    var item_1 = '#slider-2 .carousel-item';
    var item_inner_1 = "#slider-2 .carousel-inner";
    classes = GetUnique(item_1);
    setcss(classes, item_1, item_inner_1);
    var item_2 = '#slider-3 .carousel-item';
    var item_inner_2 = "#slider-3 .carousel-inner";
    classes = GetUnique(item_2);
    setcss(classes, item_2, item_inner_2);
    var item_3 = '#slider-4 .carousel-item';
    var item_inner_3 = "#slider-4 .carousel-inner";
    classes = GetUnique(item_3);
    setcss(classes, item_3, item_inner_3);
    var item_4 = '#slider-5 .carousel-item';
    var item_inner_4 = "#slider-5 .carousel-inner";
    classes = GetUnique(item_4);
    setcss(classes, item_4, item_inner_4);
    });
</script>